.mail-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: 'nav list';
}

.folder-nav {
  grid-area: nav;
}

.mail-list {
  grid-area: list;
}
