.note-filter {
  display: flex;
  padding-top: 50px;
  gap: 10px;
  justify-content: center;
}

.filter-by-type {
  display: flex;
  gap: 10px;
}

.filter-by-type > * {
  cursor: pointer;
}

.input-wrapper {
  display: flex;
  align-items: center;
  padding-right: 10px;
}
