.app-header {
  padding: 20px 0;
  background-color: #8092c2;
  margin-bottom: 50px;
  font-family: monospace;
  font-size: 2rem;
}

.app-header h1:hover {
  cursor: pointer;
  opacity: 0.5;
}

.app-header .header-container {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 25px;
}

.app-nav {
  color: #eeeeee;
}

.app-nav a {
  text-decoration: none;
  font-family: monospace;
  font-size: 1.5rem;
  color: rgb(75, 75, 75);
  font-weight: 500;
}

.app-nav a:hover {
  opacity: 0.5;
  border-bottom: 2px solid rgb(63, 62, 62);
}

.app-nav .my-active {
  color: rgb(33, 34, 107);
  font-size: 1.6rem;
  font-weight: 600;
}
